@charset "utf-8";
body {
    font-family: Tahoma, Arial, sans-serif;
    color: #383838;
    background: #fff;
    margin: 0 auto 1em;
    width: 900px;
}
img.contained{

}
img.logo{
	border: 1px;
	border-radius: 10px 10px 10px 10px;
	border-style: inset;
	padding: 0px 150px 0px 150px;
	margin: 2%;
	height: 100px;
	width: 600px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
	float: left;
}

nav a:link, nav a:visited {
    display: block;
    margin: 0 auto;
    padding-bottom: 2px;
    padding-left: 75px;
    padding-top: 2px;
    text-decoration: none;
    width: 220px;
    letter-spacing: 2px;
}
nav a:hover {
    color: #555;
}

h1 {
	clear: both;
    color: #063380;
}
h2 {
	color: #063380;
}
h3 {
}
article {
    border-radius: 15px 15px 15px 15px;
    border: 0px;
    border-style: dashed;
    border-color: #065780;
    padding: 1em;
}
a:link {
    text-decoration: none;
    color: #0C64FA;
}
a:hover {
    text-decoration: none;
    color: #0B557A;
}
a:visited {
    text-decoration: none;
    color: #0C64FA;
}

ul.project {
    list-style-type: none;
    padding: 0;
}

ul.project li{
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 15px 15px 15px 15px;
    text-align: center;
    border: 1px;
    border-style: dashed;
    border-color: #065780;
    padding: 3em;
    margin: 2px;
    background: #8A8F91;
}

ul.circle {list-style-type:circle}

p.fakesearch{
	position: relative;
	margin-left: 25px;
	width: 200px;
	border: 1px;
	border-style: dashed;
	border-color: #065780;
	padding: 0.2em;
	color: #C0C0CA;
}

p.fakefield{
	position: relative;
	margin-left: 25px;
	width: 400px;
	border: 1px;
	border-style: dashed;
	border-color: #065780;
	padding: 0.2em;
	color: #C0C0CA;
}

ul.projectpage {
	list-style-type: none;
}

.button {
    color: #BAD0E7;
    background: #8A8F91;
    padding: 0.5em;
    padding-left: 2em;
    border-radius: 15px 15px 15px 15px;
    width: 300px;
}

.button a:link{
	color: #BAD0F7;
	text-decoration: none;
}

.button a:hover{
	color: #0B557A;
	text-decoration: none;
}

.button a:visited{
	color: #BAD0F7;
	text-decoration: none;
}

.center {
    text-align: center;
    margin-left:auto;
	margin-right:auto;
	width=80%;
}
.spaceholder{
	height: 100px;
}

footer {
    background-color: #555;
    border-radius: 8px 8px 8px 8px;
    color: #C0C0CA;
    font-family: Tahoma;
    font-size: smaller;
    padding: 0.2em 2em 0.2em 2em;
    margin: auto;
    clear: both;
}
