@charset "utf-8";
body {
    font-family: Tahoma, Arial, sans-serif;
    color: #383838;
    background: #fff;
    margin: 0 auto 1em;
    width: 900px;
}
img.contained{

}
img.logo{
	border: 1px;
	border-radius: 10px 10px 10px 10px;
	border-style: inset;
	padding: 0px 150px 0px 150px;
	margin: 2%;
	height: 100px;
	width: 600px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
	float: left;
}

nav a:link, nav a:visited {
    display: block;
    margin: 0 auto;
    padding-bottom: 2px;
    padding-left: 75px;
    padding-top: 2px;
    color: #0C64FA;
    text-decoration: none;
    width: 220px;
    letter-spacing: 2px;
}
nav a:hover {
    color: #555;
}

h1 {
	clear: both;
    color: #063380;
	font-size: 18pt;
}
h2 {
	color: #063380;
	font-size: 16pt;
}
h3 {
	color: #063380;
	font-size: 14pt;
}
article {
    border-radius: 15px 15px 15px 15px;
    border: 0px;
    border-style: dashed;
    border-color: #065780;
    padding: 1em;
}
a:link, a:visited {
    text-decoration: none;
    color: #0C64FA;
}
a:hover {
    text-decoration: none;
    color: #0B557A;
}

.left {
	float: left;
}

ul.project {
    list-style-type: none;
    padding: 0;
}

ul.project li{
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 15px 15px 15px 15px;
    text-align: center;
    border: 1px;
    border-style: dashed;
    border-color: #065780;
    padding: 3em;
    margin: 2px;
    background: #8A8F91;
}

ul.circle {list-style-type:circle}

p.fakesearch{
	position: relative;
	margin-left: 25px;
	width: 200px;
	border: 1px;
	border-style: dashed;
	border-color: #065780;
	padding: 0.2em;
	color: #C0C0CA;
}

p.fakefield{
	clear: both;
	position: relative;
	margin-left: 25px;
	width: 400px;
	border: 1px;
	border-style: dashed;
	border-color: #065780;
	padding: 0.2em;
	color: #C0C0CA;
}

ul.projectpage {
	list-style-type: none;
}

.button {
    color: #BAD0E7;
    background: #8A8F91;
    padding: 0.5em;
    padding-left: 2em;
    border-radius: 15px 15px 15px 15px;
    width: 300px;
}

.button a:link, a:visited{
	color: #BAD0F7;
	text-decoration: none;
}

.button a:hover{
	color: #0B557A;
	text-decoration: none;
}


.center {
    text-align: center;
    margin-left:auto;
	margin-right:auto;
	width: 80%;
}
.spaceholder{
	height: 100px;
}

#projectname{
	color: #067080;
	font-weight: bold;
}

#manager {
	color: #0C64FA;
	font-weight: bold;
}

#instructions{
	
}

#references{
	
}

#jssketch{
	border-radius: 15px 15px 15px 15px;
    border: 0px;
    border-style: dashed;
    border-color: #065780;
    padding: 1em ;
    background: #DAE2F0;
    height: 400px;
    margin: 10px auto;
}

#textsketch{
	border-radius: 15px 15px 15px 15px;
    border: 0px;
    border-style: dashed;
    border-color: #065780;
    padding: 1em ;
    background: #DAE2F0;
    height: 600px;
    margin: 10px auto;
}

#sketch ul{
    list-style-type: none;
    padding: 0;
}

#sketch li{
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 15px 15px 15px 15px;
    text-align: center;
    border: 1px;
    border-style: dashed;
    border-color: #065780;
    padding: 3em;
    margin: 2px;
    background: #8A8F91;
}

img.sparkle{
	clear: both;
	float: left;
	border: 1px;
	border-radius: 10px 10px 10px 10px;
	border-style: inset;
	padding: 1px;
	height: 20px;
	margin: 5px;
}

.sparkle{
	clear: both;
	font-size: 10pt;
	margin-top: 10px;
}

.jsfiddle{
	float: left;
}

.jsfiddle_from_server{
	float: left;
}

#code {
	width: 400px;
	height: 400px;
	margin: auto auto 10px 20px;
}

#output {
	width: 400px;
	min-height: 400px;
	margin: auto 10px;
}

footer {
    background-color: #555;
    border-radius: 8px 8px 8px 8px;
    color: #C0C0CA;
    font-family: Tahoma;
    font-size: smaller;
    padding: 0.2em 2em 0.2em 2em;
    margin: auto;
    clear: both;
}
