{% extends "base.html" %}

{% block content %}
<article>
<h1>A little bit about clean.</h1>

<p> <strong>clean</strong> is a project developed to:</p>
<ul class="circle">
	<li>Create a collaborative online project-based classroom</li>
	<li>Integrate social media, peer evaluation, and creative design</li>
	<li>Extend the functionality of programming learning platforms to other subjects</li>
	<li>Inspire students with an "education"-style complement to "training"-style online offerings</li>
</ul>

<p>The <strong>clean</strong> project was developed at the Education Design-A-Thon at MIT.</p>
</article>
{% endblock %}
