<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>HTML</title>
		<meta name="description" content="" />
		<meta name="author" content="Edge of Forever Studios" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link type="text/css" rel="stylesheet" href="../static/style.css">
	</head>
	<body>
		<header>
			<hgroup>
				<img class="logo" src="../media/clean_logo.png">
			</hgroup>
		</header>
		<nav>
			<ul>
				<li>About</li>
				<li>Browse</li>
				<li>Your Projects</li>
			</ul>
		</nav>
    <h1>Header one</h1>
    <h2>Header two</h2>
    <h3>Headr three</h3>
    <article>Here's an article</article>
    Body Text Body Text Body Text
    Body Text.
    <a href = "http://www.google.com">Google.com</a>
    <div class="important">This is something Important</div>
    <p class="center">This is a centered paragraph</p>
    <div class="spaceholder">Recent Project 1</div>
    <div class="spaceholder">Recent Project 2</div>
    <div class="spaceholder">Recent Project 3</div>
</body>

			<footer>
				<p>
					&copy; Copyright Edge of Forever Studios 2013
				</p>
			</footer>
		</div>
	</body>
</html>
