{% extends "base.html" %}
{% block content %}

	<article>
		<h1>Welcome to <strong>clean</strong>.</h1>
		<p>I am a <span class="blue">C</span>onnective <span class="blue">L</span>earning <span class="blue">E</span>nvironment <span class="blue">A</span>nd <span class="blue">N</span>etwork.</p>
		<p>Explore <strong>clean</strong> projects, or start one for your group.</p>
	</article>
	<p >
	<ul class="project">
		<li>Recent Project 1</li>
		<li>Recent Project 2</li>
		<li>Recent Project 3</li>
		<li>Recent Project 4</li>
	</ul></p>
{% endblock %}
