{% extends "base.html" %}

{% block content %}

<article>
	<h1>Start a New Project</h1>
		<ul class="projectpage">
			<li><h3>Project title:</h3>
				<p class="fakefield">Enter a name for this project</p>
			</li>
			<li><h3>Subject:</h3>
				<p class="fakefield">Enter this project's topic</p>
			</li>
			<li><h3>Problem statement:</h3>
				<p class="fakefield">Enter a set pf instructions on how to complete this project </p>
			</li>
			<li><h3>Resources:</h3>
				<p class="fakefield">Reference some online resources that will assist with the completion of the project goals.</p>
			</li>
			<li><h3>Choose a project type:</h3>
				<p class="fakesearch">Pick from drop-down</p>
			</li>
</ul>
</article>

{% endblock %}