{% extends "base.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>

<h1>Sketch #{{ object.id_no }} in project <span id="projectname">{{ object.project }}</span></h1>
<span class="byline">created by <span id="owner">{{ object.author }}</span> on {{ object.created_date }}</span>


<div id="sketch">
<h1> {{ object.title }} </h1>

{% if object.project.project_type == 0 %}
<div id="jssketch">
<div class="jsfiddle_from_server">
  <form>
    <textarea id="code">{{ object.content|safe}}</textarea>
  </form>
</div>

<div class="jsfiddle">
  <iframe id="output"></iframe>
</div>

  <script>
    //This runs only once to load the text from the database
    var iframe = document.getElementById('output');
    
    if(iframe.contentDocument) {
        doc = iframe.contentDocument;
    }
    else if(iframe.contentWindow) {
        doc = iframe.contentWindow.document;
    }
    else {
        doc = iframe.document;
    }
    
    doc.open();
    doc.writeln("<scrip" + "t>" + '{{ object.content|safe|linebreaksbr }}' + "</scri" + "pt>");
    doc.close();
  </script>

  <script>
    //This code runs the jquery to automatically update it.
    (function() {
      
    var frame = $('iframe'),
    contents = frame.contents(),
    script = contents.find('body').append('<scrip'+'t></'+'script>').children('script');
    
    $('textarea').focus(function() {
    var $this = $(this);
    
    script.text($this.val());
    
    $this.keyup(function() {
    });
    });
    
    })();
  </script>
  
</div>
{% endif %}

{% if object.project.project_type == 2 %}
<div id="textsketch">
<div class="jsfiddle_from_server">
{{ object.content|safe}}
</div>
</div>

{% endif %}

<div class="sparkle">
	<img class="sparkle" src="{{STATIC_URL}}/media/sparkle_blue.png"> {{object.sparkles}} sparkle points

</div>
<p class="fakefield">
	Comments from other participants
</p>
{% endblock %}
