{% extends "base.html" %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>

{% block content %}

<h1>Sketch #{{ object.id_no }} in project <span id="projectname">{{ object.project }}</span></h1>
<h2>created by {{ object.author }} on {{ object.created_date }}</h2>


<h1> {{ object.title }} </h1>

{% if object.project.project_type == 0 %}
<div id="jssketch">
<div class="jsfiddle_from_server">
  <form>
    <textarea id="code">{{ object.content|safe}}</textarea>
  </form>
</div>

<div class="jsfiddle">
  <iframe id="output"></iframe>
</div>

<script>
(function() {
var frame = $('iframe'),
contents = frame.contents(),
body = contents.find('body')

</script>
</div>
{% endif %}

{% if object.project.project_type == 2 %}
<div id="textsketch">
<div class="jsfiddle_from_server">
{{ object.content|safe}}
</div>
</div>

{% endif %}

<div class="sparkle">
	<img class="sparkle" src="{{STATIC_URL}}/media/sparkle_blue.png">{{object.sparkles}} sparkle points
</div>
<p class="fakefield">
	Comments from other participants
</p>
{% endblock %}
