<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container grid">
      <form>
	<h2>HTML</h2>
	<textarea id="html"></textarea>
      </form>

      <form>
	<h2>CSS</h2>
	<textarea id="CSS"></textarea>
      </form>
    </div>

    <div class="output grid">
      <iframe></iframe>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="../static/livereload.js"></script>

    <script>
      (function() {
      $('.grid').height( $(window).height());

      var frame = $('iframe'),
          contents = frame.contents(),
          body = contents.find('body'),
          styleTag = contents.find('head').append('<style></style>').children('style');

      $('textarea').focus(function() {
      var $this = $(this);

      if ($this.attr('id') === 'html') {
      body.html($this.val());
      } 

      else {
      styleTag.text($this.val());
      }

      $this.keyup(function() {
      });
      });
      
      })();

      

    </script>

  </body>
</html>
